body,html {
    overflow-x: hidden;
}
.tests {
    border: 1px solid red;
}
.tests2 {
    border: 1px solid yellow;
}
.tests3 {
    border: 1px solid green;
}
.img-to-edit {
    height: 250px !important;
    display: inline-block !important;
    margin-right: 1% !important;
    margin-top: 1% !important;
}
.logo-header-img {
    width: 100%;
}
.HeaderLink {
    color: white !important;
}
.HeaderLink:hover {
    color: lightgray !important;
}
.logo-admin {
    height: 40px;
    margin-top: -10px;
    border: 1px solid lightgray;
}
#srch_term{
    background-color: #222222 !important;
    color: white !important;
    border-left: 1px solid white !important;
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
}
#SearchInput {
    background-color: #222222 !important;
    color: white !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-right: 1px solid white !important;
}
#carousel-example {
    margin-top: -20px;
}
.img-banner {
    height: 100% !important;
    width: 100% !important;
}
h4.banner {
    text-transform: uppercase;
    color: white;
    font-size: 30px;
}
h3.banner {
    color: black;
    font-size: 50px;
    text-transform: uppercase;
    font-style: italic;
}
p.banner {
    color: white;
    background-color: black;
    text-transform: uppercase;
    font-size: 15px;
    display: initial;
}
.mini-banner {
    height: 120px !important;
}
.img-mini-banner {
    height: 120px !important;
    width: auto !important;
    opacity: 0.5;
}
.cat-mini-banner {
    font-weight: bold;
    text-transform: uppercase;
    font-size: smaller;
    color: darkgray;
    margin-top: 1px !important;
}
.tit-mini-banner {
    margin-top: -7px !important;
    text-transform: uppercase;
    font-size: medium;
    color: gray;
    font-style: italic;
}
.mini-banner-activo img {
    opacity: 1 !important;
}
.mini-banner-activo h5,
.mini-banner-activo h3 {
    color: black !important;
}
.img-entradaA {
    width: 100% !important;
}
.entradaA {
    margin-left: 0 !important;
    left: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    right: 0 !important;
    padding-right: 0 !important;
}
.entradas-1 {
    margin-left: 0 !important;
    left: 0 !important;
    padding-left: 0 !important;
}
.banner-gris {
    background-color: lightgray !important;
    margin-right: 0 !important;
    right: 0 !important;
    padding-right: 0 !important;
    height: 350px;
    border-left: 20px solid white;
}
.xparent {
    height: 350px;
}
.h5entradaa,
.h3entradaa{
    text-transform: uppercase;
    color: black;
    margin-top: 0;
    top: 0;
    padding: 0;
}
.h5entradaa:hover,
.h3entradaa:hover {
    color: black;
}
.h3entradaa {
    font-style: italic;
    font-weight: bold;
}
.h5entradaa {
    font-weight: bolder;
}
.pentradaa {
    text-transform: uppercase;
    color: gray;
}
.pentradaa:hover {
    color: gray;
}
.h3entradaa2, .pentradaa2 {
    margin-top: 0 !important;
    top: 0 !important;
    padding-top: 0 !important;
}
.sin-bordes {
    border-radius: 0 !important;
}
.img-parallax {
    width: 100% !important;
    height: 300px !important;

}
.info-parallax {
    height: 120px;
    color: white;
    margin-right: 5%;
    border-bottom: 2px solid white !important;
}
.info-parallax:hover {
    text-decoration: none !important;
    color: white !important;
}
.div-parallax {
    width: 100% !important;
}
.bordes-productos {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.producto-destacado {
    background-color: white;
    width: 40%;
    margin: 0 auto 0 auto;
    margin-top: -30px !important;
    font-size: large;
    font-style: italic;
}
.hr_parallax {
    border: 2px solid white;
}
.p_parallax,
.p_parallax:hover,
.h5_parallax,
.h5_parallax:hover,
.h3_parallax,
.h3_parallax:hover {
    color: white;
    text-decoration: none;
}
.image_prlx {
    position: relative;
    width: 100%; /* for IE 6 */
}
.h2_parallax {
    position: absolute;
    top: 50px;
    right: 20% !important;
    text-align: right;
    width: 30%;
    border-bottom: 2px solid white;
}
.p_parallax p {
    font-size: smaller;
}
.h2_parallax h5 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;
}
.h3_parallax h3 {
    color: black !important;
    font-style: italic !important;
    font-size: 40px !important;
}

.producto1,
.producto1:hover {
    font-style: italic;
    font-size: larger;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}
.producto2,
.producto2:hover {
    font-size: small;
    color: lightgray;
}

/*
JCarousel CSS
*/
/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
    height: 250px !important;
    min-height: 250px !important;
    max-height: 250px !important;
    width: 200px;
}
.jcarousel li div {
    width: 100%;
}
.img-producto {
    width: 100%;
}
.boton-carrusel {
    height: 50px !important;
}
.flota-izquierda {
    text-align: left;
    margin-top: 100px;
}
.flota-derecha {
    text-align: right !important;
    margin-top: 100px;
}
.producto1,
.producto2 {
    text-align: left;
}
.c_prev {
    float: right;
}
.c_next {
    float: left;
}
/* Fin Jcarrousel */

/* Entradas B */

.img-entradab {
    height: 250px;
    width: auto;
}
.margen-cero {
    margin-top: 0 !important;
}

/* Fin Entradas B */

/* Footer */

.footer1 {
    border-top: 3px solid black;
    text-align: center;
}
.footer-title {
    background-color: white;
    width: 40%;
    margin-top: -17px !important;
    margin: 0 auto 0 auto;
    font-weight: bolder;
    font-size: x-large;
    text-transform: capitalize;
    font-style: italic;
}
.follow-instagram {
    background-color: lightgray;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}
div.vertical-line{
    padding-top: 15px;
    width: 18%;
}
div.vertical-line hr {
    color: black;
    border: 1px solid black;
}
.final-footer {
    background-color: black;
    color: white;
    padding-top: 20px;
    height: 160px;
}
.logo-footer {
    text-align: right;
    font-size: xx-large;
    text-transform: uppercase;
    padding-top: 40px;
}
.copy-right {
    font-size: x-small;
    text-transform: uppercase;
    text-align: left;
    position: relative !important;
    height: 100% !important;
}
span.copy-right-span {
    position: absolute !important;
    bottom: 0 !important;
}
.listado,
.listado a,
.listado a:hover {
    background-color: black;
    color: white;
    border: none;
}
.borde-izquierdo {
    border-left: 2px solid white;
}
/* Fin Footer */

/* Articulos */
.primera-parte {
    background-color: lightgray;
    padding: 4%;
}
.primer-div-articulo {
    margin-top: -20px;
}
.segundo-div-articulo {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: small;
}
.img-article {
    width: 48%;
    float: left;
    margin-right: 1%;
    margin-top: 1%;
}
.primera-parte h5 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: small;
}
.primera-parte h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}
.primera-parte p {
    font-style: italic;
    color: gray;
}
/* Fin Articulos */

/* Lista por Categoria */

.container-category2 {
    background-color: lightgray;
    text-align: center;
}
.container-category2 img {
    margin: 0 auto 0 auto;
    width: 100%;
}
.container-category2 p {
    padding: 3%;
    font-style: italic;
}
.container-category {
    margin-bottom: 2%;
}
.container-category p {
    color: gray;
}
.container-category h5 {
    font-weight: bold;
    text-transform: uppercase;
}
.container-category h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: xx-large;
    font-style: italic;
}
.hr-title {
    color: black;
    background-color: black;
    height: 3px;
    margin-top: 25%;
}
.read-more a {
    text-transform: uppercase;
    border: 1px solid black;
    font-weight: bold;
    color: black;
    padding: 1%;
    padding-right: 3%;
    padding-left: 3%;
}
/* Fin Lista por Categoria */

/* Paginacion */
ul.pagination > li:first-child > a,
ul.pagination > li:last-child > a{
    background-color: white;
    color: darkgray;
}
ul.pagination li span {
    margin-right: 5px;
}
ul.pagination .disabled {
    display: none;
}
ul.pagination li.active span {
    background-color: black;
    color: white;
}
ul.pagination a {
    background-color: lightgray;
    color: black;
    border: none;
    margin-right: 5px;
}
ul.pagination span {
    background-color: lightgray;
    color: black;
    border: none;
}
/* Fin Paginacion */

/* Busqueda */
.search-container {
    background-color: lightgray;
    height: 340px;
    margin-bottom: 20px !important;
    position: relative;
}
.search-container img {
    width: 100%;
}
.search-container .subtitle {
    margin-top: 0 !important;
    font-size: x-small;
    color: gray;
    padding-left: 8%;
    padding-right: 8%;
}
.search-container h3,
.search-container h5 {
    text-align: left;
    margin-top: 0 !important;
    padding-left: 8%;
    padding-right: 8%;
    text-transform: uppercase;
}
.search-container h5 {
    font-weight: bold;
    font-size: x-small;
    margin-top: 5% !important;
}
.search-container p.posicion-abajo {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)
}
.search-container h3 {
    font-weight: bold;
    font-size: small;
    font-style: italic;
}
.palabras {
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 1%;
    font-weight: bold;
}
.search-title {
    margin-left: -2% !important;
    margin-top: 4%;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}
/* Fin de Busqueda */

