@font-face {
    font-family: OpenSansExtraBold;
    src: url(../bootstrap/fonts/OpenSans-ExtraBold.tff);
}
@font-face {
    font-family: OpenSansRegular;
    src: url(../bootstrap/fonts/OpenSans-Regular.tff);
}
@font-face {
    font-family: OpenSansSemiBold;
    src: url(../bootstrap/fonts/OpenSans-SemiBold.tff);
}
@font-face {
    font-family: PtSerifItalic;
    src: url(../bootstrap/fonts/PT_Serif-Web-Italic.ttf);
}
@font-face {
    font-family: OpenSansLight;
    src: url(../bootstrap/fonts/OpenSans-Light.tff);
}
.OpenSansExtraBold {
    font-family: OpenSansExtraBold !important;
}
.OpenSansRegular {
    font-family: OpenSansRegular !important;
}
.OpenSansSemiBold {
    font-family: OpenSansSemiBold !important;
}
.OpenSansSemiBold300 {
    font-family: OpenSansSemiBold !important;
    letter-spacing: 0.3em !important;
}
.OpenSansLight {
    font-family: OpenSansLight !important;
}
.PtSerifItalic {
    font-family: PtSerifItalic !important;
    font-style: italic !important;
}
body,html {
    overflow-x: hidden;
    font-family:OpenSansLight;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .contenido-x {
        padding-top: 250px;
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .contenido-x {
        padding-top: 250px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .contenido-x {
        padding-top: 195px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .contenido-x {
        padding-top: 50px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
.footer-font {
    font-family:Garamond, Georgia, serif;
    font-size: smaller;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.carousel-indicators {
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
}
.carousel-indicators li {
    width: 24.2% !important;
    padding: 0 !important;
    margin: 0 !important;
    bottom: 0 !important;
    height: 4px !important;
    vertical-align: bottom !important;
    border: none !important;
}
.carousel-indicators li.active {
    background-color: black !important;
    height: 4px !important;
}
#carousel-example > ol > li.active
.navbar .navbar-collapse {
    text-align: center;
}
.tests {
    border: 1px solid red;
}
.tests2 {
    border: 1px solid yellow;
}
.tests3 {
    border: 1px solid green;
}
.img-to-edit {
    height: 250px !important;
    display: inline-block !important;
    margin-right: 1% !important;
    margin-top: 1% !important;
}
.masthead {
    position: relative;
}
.img-header-desktop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto !important;
    height: 100% !important;
}
.logo-header-img {
    width: 100%;
}
.img-header-logo {
    max-width: 100%;
    height: 300% !important;
    margin-top: -15px !important;
    padding: 0 !important;
    margin-left: 10% !important;
    margin-right: auto !important;
}
.HeaderLink {
    color: white !important;
}
.HeaderLink:hover {
    color: lightgray !important;
}
.logo-admin {
    height: 40px;
    margin-top: -10px;
    border: 1px solid lightgray;
}
#srch_term{
    background-color: #222222 !important;
    color: white !important;
    border-left: 1px solid white !important;
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
}
#SearchInput {
    background-color: #222222 !important;
    color: white !important;
    border-left: none !important;
    border-top: none !important;
    border-bottom: none !important;
    border-right: 1px solid white !important;
}
#carousel-example {

}
.img-banner {
    height: 100% !important;
    width: 100% !important;
}

h4.banner {
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    font-family: OpenSansSemiBold !important;
    letter-spacing: 0.3em;
}
h3.banner {
    color: black;
    font-size: 50px;
    text-transform: uppercase;
    font-style: italic;
    font-family: PtSerifItalic !important;
}
p.banner {
    color: white;
    background-color: black;
    text-transform: uppercase;
    font-size: 15px;
    display: initial;
    font-family: OpenSansRegular !important;
}
.mobile-mini-banner {
    padding: 0 !important;
    text-align: center !important;
    width: 24% !important;
}
h4.banner-mobile {
    text-transform: uppercase;
    color: white;
    font-size: 11px;
    font-family: OpenSansSemiBold !important;
    letter-spacing: 0.3em;
}
h3.banner-mobile {
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    font-style: italic;
    font-family: PtSerifItalic !important;
}
p.banner-mobile {
    color: white;
    background-color: black;
    text-transform: uppercase;
    font-size: 9px;
    display: initial;
    font-family: OpenSansRegular !important;
}
.mini-banner {
    height: 120px !important;
}
.mobile-mini-banner {
    width: 23%;
    display: inline-block;
    margin-right: 1%;
    margin-right: 1%;
}
.img-mini-banner-mobile {
    width: 100% !important;
    padding: 0 !important;
}
.img-mini-banner {
    height: 120px !important;
    width: auto !important;
    opacity: 0.5;
}
.cat-mini-banner {
    font-weight: bold;
    text-transform: uppercase;
    font-size: smaller;
    color: darkgray;
    margin-top: 1px !important;
}
.tit-mini-banner {
    margin-top: -7px !important;
    text-transform: uppercase;
    font-size: medium;
    color: gray;
    font-style: italic;
}

.mini-banner-activo img {
    opacity: 1 !important;
}
.mini-banner-activo h5,
.mini-banner-activo h3 {
    color: black !important;
}
.img-entradaA {
    width: 100% !important;
}
.entradaA {
    margin-left: 0 !important;
    left: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    right: 0 !important;
    padding-right: 0 !important;
}
.entradas-1 {
    margin-left: 0 !important;
    left: 0 !important;
    padding-left: 0 !important;
}
.banner-gris {
    background-color: lightgray !important;
    margin-right: 0 !important;
    right: 0 !important;
    padding-right: 0 !important;
    height: 350px;
    border-left: 20px solid white;
}
.xparent {
    height: 350px;
}
.h5entradaa,
.h3entradaa{
    text-transform: uppercase;
    color: black;
    margin-top: 0;
    top: 0;
    padding: 0;
}
.h5entradaa:hover,
.h3entradaa:hover {
    color: black;
}
.h3entradaa {
    font-style: italic;
    font-weight: bold;
}
.h5entradaa {
    font-weight: bolder;
}
.pentradaa {
    text-transform: uppercase;
    color: gray;
}
.pentradaa:hover {
    color: gray;
}
.h3entradaa2, .pentradaa2 {
    margin-top: 0 !important;
    top: 0 !important;
    padding-top: 0 !important;
}
.sin-bordes {
    border-radius: 0 !important;
}

.img-parallax {
    width: 100% !important;
}
.info-parallax {
    height: 120px;
    color: white;
    margin-right: 5%;
    border-bottom: 2px solid white !important;
}
.info-parallax:hover {
    text-decoration: none !important;
    color: white !important;
}
.div-parallax {
    width: 100% !important;
}
.bordes-productos {
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
.inicio-productos li img {
    max-height: 150px !important;
}
.producto-destacado {
    background-color: white;
    width: 40%;
    margin: 0 auto 0 auto;
    margin-top: -30px !important;
    font-size: large;
    font-style: italic;
}
.producto-destacado-mobile {
    background-color: white !important;
    width: 50% !important;
    margin: 0 auto 0 auto;
    margin-top: -30px !important;
    font-size: small;
    font-style: italic;
    z-index: 9999;
}
.hr_parallax {
    border: 2px solid white;
}
.p_parallax,
.p_parallax:hover,
.h5_parallax,
.h5_parallax:hover,
.h3_parallax,
.h3_parallax:hover {
    color: white;
    text-decoration: none;
}
.image_prlx {
    position: relative;
    width: 100%; /* for IE 6 */
}
.h2_parallax {
    position: absolute;
    top: 50px;
    right: 20% !important;
    text-align: right;
    width: 30%;
    border-bottom: 2px solid white;
}
.p_parallax p {
    font-size: smaller;
}
.h2_parallax h5 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;
}
.h3_parallax h3 {
    color: black !important;
    font-style: italic !important;
    font-size: 40px !important;
    text-transform: uppercase !important;
}
.h2_parallax_mobile {
    position: absolute;
    top: 5px;
    right: 4% !important;
    text-align: right;
    width: 40%;
    border-bottom: 2px solid white;
}
.h2_parallax_mobile p {
    font-size: 7px;
    margin-top: 0 !important;
}
.h2_parallax_mobile h5 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 8px;
    margin-top: 0 !important;
}
.h2_parallax_mobile h3 {
    color: black !important;
    font-style: italic !important;
    font-size: 14px !important;
    margin-top: 0 !important;
    text-transform: uppercase !important;
}
.producto1,
.producto1:hover {
    font-style: italic;
    font-size: larger;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}
.producto2,
.producto2:hover {
    font-size: small;
    color: lightgray;
}

/*
JCarousel CSS
*/
/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
    height: 250px ;
    min-height: 250px ;
    max-height: 250px ;
    width: 200px;
}
.jcarousel-movil li {
     margin-left: 0 !important;
     padding: 0 !important;
     width: 165px !important;
 }
.jcarousel-wrapper-mobile {
    height: 320px !important;
}
.about-jcarousel-mobile li {
    margin-left: 0 !important;
    margin-right: 14px !important;
    padding: 0 !important;
    width: 120px !important;
}
.jcarousel-movil li img {
    height: 150px !important;
    min-height: 150px !important;
    max-height: 150px !important;
}
.jcarousel li div {
    width: 100%;
}
.img-producto {
    width: 100%;
}
.boton-carrusel {
    height: 50px !important;
}
.flota-izquierda {
    text-align: left;
    margin-top: 100px;
}
.flota-derecha {
    text-align: right !important;
    margin-top: 100px;
}
.producto1,
.producto2 {
    text-align: left;
}
.c_prev {
    float: right;
}
.c_next {
    float: left;
}
/* Fin Jcarrousel */

/* Entradas B */

.img-entradab {
    height: 250px;
    width: auto;
}
.img-entradab-movil {
    height: auto !important;
    width: auto !important;
}
.margen-cero {
    margin-top: 0 !important;
}

/* Fin Entradas B */

/* Footer */

.footer1 {
    border-top: 3px solid black;
    text-align: center;
}

.footer-title {
    background-color: white;
    width: 40%;
    margin-top: -17px !important;
    margin: 0 auto 0 auto;
    font-weight: bolder;
    font-size: x-large;
    text-transform: capitalize;
    font-style: italic;
}
.footer-title-mobile {
    background-color: white;
    width: 40%;
    margin-top: -17px !important;
    margin: 0 auto 0 auto;
    font-weight: bolder;
    font-size: small;
    text-transform: capitalize;
    font-style: italic;
}
.follow-instagram {
    background-color: lightgray;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
}
.follow-instagram-mobile {
    background-color: lightgray;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: small;
    font-weight: bold;
    font-style: italic;
}
div.vertical-line-mobile {
    width: 17%;
    height: 8px;
    border-bottom: 1px solid black;
}
div.vertical-line hr,
div.vertical-line-mobile hr {
    color: black;
    border: 1px solid black;
}
div.vertical-line{
    padding-top: 15px;
    width: 18%;
}
div.vertical-line hr {
    color: black;
    border: 1px solid black;
}
.final-footer {
    background-color: black;
    color: white;
    padding-top: 20px;
    height: 160px;
}
.logo-footer {
    text-align: right;
    font-size: xx-large;
    text-transform: uppercase;
    padding-top: 40px;
    padding-top: 0;
}
.copy-right {
    font-size: x-small;
    text-transform: uppercase;
    text-align: left;
    position: relative !important;
    height: 100% !important;
}
span.copy-right-span {
    position: absolute !important;
    bottom: 0 !important;
}
.listado,
.listado a,
.listado a:hover {
    background-color: black !important;
    color: white !important;
    border: none !important;
}
.borde-izquierdo {
    border-left: 2px solid white;
}
/* Fin Footer */

/* Articulos */
.primera-parte {
    background-color: lightgray;
    padding: 4%;
}
.primer-div-articulo {

}
.segundo-div-articulo {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: small;
}
.img-article {
    width: 48%;
    float: left;
    margin-right: 1%;
    margin-top: 1%;
}
.primera-parte h5 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: small;
}
.primera-parte h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}
.primera-parte p {
    font-style: italic;
    color: gray;
}
/* Fin Articulos */

/* Lista por Categoria */

.container-category2 {
    background-color: lightgray;
    text-align: center;
}
.container-category2 img {
    margin: 0 auto 0 auto;
    width: 100%;
}
.container-category2 p {
    padding: 3%;
    font-style: italic;
}
.container-category {
    margin-bottom: 2%;
}
.container-category p {
    color: gray;
}
.container-category h5 {
    font-weight: bold;
    text-transform: uppercase;
}
.container-category-mobile h3 {
    font-size: 16px !important;
    line-height: 16px !important;
    margin-top: 0 !important;
}
.container-category h3 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: xx-large;
    font-style: italic;
}
.hr-title {
    color: black;
    background-color: black;
    height: 3px;
    margin-top: 25%;
}
.read-more a {
    text-transform: uppercase;
    border: 1px solid black;
    font-weight: bold;
    color: black;
    padding: 1%;
    padding-right: 3%;
    padding-left: 3%;
}
/* Fin Lista por Categoria */

/* Paginacion */
ul.pagination > li:first-child > a,
ul.pagination > li:last-child > a{
    background-color: white;
    color: darkgray;
}
ul.pagination li span {
    margin-right: 5px;
}
ul.pagination .disabled {
    display: none;
}
ul.pagination li.active span {
    background-color: black;
    color: white;
}
ul.pagination a {
    background-color: lightgray;
    color: black;
    border: none;
    margin-right: 5px;
}
ul.pagination span {
    background-color: lightgray;
    color: black;
    border: none;
}
/* Fin Paginacion */

/* Busqueda */
.sin-padding {
    padding: 0 !important;
}
.search-container {
    background-color: lightgray;
    height: auto;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    border: 2px solid white;
    height: 400px;
}
.search-container-mobile {

}
.search-container img {
    height: 250px !important;
    width: 100%;
}
.search-container .img-search {
    height: 250px !important;
}
.search-container .subtitle {
    margin-top: 0 !important;
    font-size: x-small;
    color: gray;
    padding-left: 8%;
    padding-right: 8%;
}
.search-container h3,
.search-container h5 {
    text-align: left;
    margin-top: 0 !important;
    padding-left: 8%;
    padding-right: 8%;
    text-transform: uppercase;
}
.search-container h5 {
    font-weight: bold;
    font-size: x-small;
    margin-top: 5% !important;
}
.search-container p.posicion-abajo {
    padding-bottom: 5px;
}
.search-container h3 {
    font-weight: bold;
    font-size: small;
    font-style: italic;
}
.palabras {
    text-transform: uppercase;
    background-color: black;
    color: white;
    padding: 1%;
    font-weight: bold;
}
.search-title {
    margin-left: -2% !important;
    margin-top: 4%;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}
.search-title-mobile {
    text-align: center !important;
    margin-top: -8%;
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    z-index: 9999 !important;
}
.search-title-mobile h3 {
    font-size: large;
    font-weight: bolder;
}
/* Fin de Busqueda */

/* About */

.producto-destacado2 {
    background-color: white;
    width: 60%;
    margin: 0 auto 0 auto;
    margin-top: -14px !important;
    font-size: large;
    font-style: italic;
}
.about-page h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}
.about-page .intro {
    color: gray;
    font-size: small;
}
.about-page .quote {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: large;
    padding-right: 10%;
    padding-left: 10%;
}
.about-page .essay {
    color: black;
    font-size: small;
}

.about-carousel li img {
    max-height: 150px !important;
}
.about-jcarousel-mobile  li img {
    max-height: 150px !important;
}
.about-carousel li {
    height: 500px;
    color: black;
    margin-left: 0 !important;
}
.about-carousel li a {
    color: black !important;
}
.about-jcarousel {
    height: 500px !important;
}
.about-jcarousel-mobile {
    height: 300px !important;
}

.about-page .about-button {
    margin-top: 20% !important;
}
/* Fin About */

/* Contact */
.form-contact-mobile h3 {
    font-size: medium !important;
    margin-top: 1px !important;
}
.form-contact-mobile .form-contact-1 input,
.form-contact-mobile .form-contact-1 textarea,
.form-contact .form-contact-1 input,
.form-contact .form-contact-1 textarea {
    color: white !important;
    background-color: black !important;
    font-size: small;
    margin-top: 0 !important;
}
.form-contact-mobile .form-contact-1 input {
    height: 16px !important;
}
.form-contact-mobile .form-contact-1 textarea {
    height: 40px !important;
}
.form-contact-mobile .form-contact-1 .form-group {
    margin-top: 0 !important;
    padding: 0 !important;
}
.fondo-contacto {
    width: 100%;
    height: auto;
    margin-top: -40px;
    position: relative;
}
.img-contact {
    width: 100%;
    height: auto;
}
.form-contact {
    position: absolute;
    background-color: white;
    width: 500px;
    height: auto;
    top: 13%; left: -20%; bottom: 13%; right: 0;
    margin: auto;
}
.form-contact-mobile {
    width: 80% !important;
    left: 10% !important;
    right: 10% !important;
    height: 90% !important;
    top: 5% !important;
    bottom: 5% !important;
}
.form-contact-mobile .form-contact-1 input[type='submit'] {
    font-size: x-small !important;
}
.form-contact-1 {
    padding-right: 2%;
    padding-left: 2%;
}
.contact-form {
    background-color: black;
    color: white;
}
.title {

}
.hr2 {
    border: 1px solid black;
    margin-top: 35% !important;
    font-weight: bold;
}
.hr1 {

}
.contact-submit {
    background-color: white;
    border: 2px solid black;
    padding-left: 8px;
    padding-right: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-weight: bold;
}
/* Fin Contact */

/* Mobile */

.footer-mobile-div {
    text-align: center !important;
    padding-top: 0 !important;
    border-bottom: 2px solid white !important;
}
.copy-right-span-mobile {
    color: white !important;
}
.copy-right-mobile {
    text-align: center !important;
    margin-top: 1%;
    padding-bottom: 0 !important;
    background-color: black;
    font-family:Garamond, Georgia, serif !important;
}
/* End Mobile */

.carousel-indicators li {
    width: 24% !important;
    margin-left: 0 !important;
}